<div class="page-truck">
	<h2>Manage the truck temperature with the two button below(simulation)</h2>
	<ul>
		<li class="controls">
			<button class="increase" ng-click="truckCtrl.increase()">Click here to increase</button>
			<button class="decrease" ng-click="truckCtrl.decrease()">Click here to decrease</button>
		</li>
		<li>
			<p class="warn-above">Container with colour <strong>RED</strong> means the temperature is above the limit.</p>
		</li>
		<li>
			<p class="warn-below">Container with colour <strong>BLUE</strong> means the temperature is below the limit.</p>
		</li>
	</ul>
	<div class="containers">
		<container-component class="item" beer="beer" ng-repeat="beer in truckCtrl.beers"></container-component>
	</div>
</div>
