body{
	font-family: Arial, Helvetica, sans-serif;
}
.page-truck ul {
	padding: 0;
    list-style: none;
}
.page-truck ul li {
	margin-bottom: 5px;
}
.page-truck ul li.controls {
	display: flex;
	justify-content: flex-start;
}
.page-truck ul li button {
	display: block;
    font-size: 1.0em;
	cursor: pointer;
	color: #ffffff;
    font-weight: bold;
}
.page-truck ul li button.increase {
	background-color: red;
}
.page-truck ul li button.decrease {
	background-color: blue;
}
.page-truck ul li p.warn-above strong{
	color: red;
}
.page-truck ul li p.warn-below strong{
	color: blue;
}
.page-truck .containers {
	display: flex;
    flex-wrap: wrap;
}
.page-truck .containers .item {
	border: 1px solid #333333;
    padding: 5px;
	margin: 5px;
	flex-basis: 200px;
    text-align: center;
}
.page-truck .containers .item .red{
	color: red;
}
<<<<<<< HEAD
.page-truck .containers .item .blue{
	color: blue;
}

@media screen and (max-width: 600px) {
	h1, .page-truck h2{
		text-align: center;
	}
	.page-truck ul li.controls {
		justify-content: center;
	}
	.page-truck ul li button {
		margin: 0 auto;
	}
	.page-truck .containers .item {
		flex-basis: 100%;
	}
=======
.containers .item .blue{
	color: #ADD8E6;
>>>>>>> 5c4cc0621b1b0c9386635f7dbdac1d0c8845d5bc
}
